.card-newsletter  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
}

.div-image-newsletter{
    height: 100%;
    position: relative;
}

.image-newsletter{
    height: 150px;
    border-radius: 50%;
}

@media (max-width: 600px) {
  .image-newsletter{
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
}
