.divNoticia .row .col{
    padding: 0 !important;
}
.noticia{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 10px 0;
    background-color: rgba(255, 255, 255, 0.126);
    border-radius: 10px;
    height: 130px;
    cursor: pointer;
}
.destacada{
    height: 150px;
    margin: 0;
}
.noticia .img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}
.destacada .img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
}
.noticia .content{ 
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
}
.noticia .content .titulo, .noticia .content .descripcion{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px 0;
}
.noticia .content .titulo{
    font-weight: 600;
    color: white;
}
.destacada .content .titulo{

}
.noticia .content .descripcion{
    color: rgb(197, 197, 197);
}

.publicidad {
    background-color: transparent;
    position: relative;
    overflow: hidden;
    height: 410px;
    margin: 10px 0px;
}

.seccion-card-publi {
    position: absolute;
    width: 100%;
    transition: opacity 1s ease;
    padding: 0 10px;
}

.visible {
    opacity: 1;
    display: block;
    z-index: 1;
}

.oculto {
    opacity: 0;
    display: none;
    z-index: 0;
}

.card-publi{
    box-shadow: none;
}

.card-image {
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card-image img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}




.boton-cargar{
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    border: 2px solid white;
    background-color: transparent !important;
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
}
.boton-cargar .waves-effect{
    background-color: rgba(255, 255, 255, 0.2) !important;
}
.boton-cargar i.material-icons {
    vertical-align: middle;
}

